# Python / Django
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.Python
env/
venv/
.venv/
ENV/

# Database
*.sqlite3
*.db

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Static & Uploaded Media
staticfiles/
media/


# Logs & System
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
